label{
    color: white;
    font-size: 20px;
    font-family: monospace;

}

.form-control::placeholder {
    color: rgb(255, 255, 255);
}

#form_registro input{
    background: none;
    color: white;
    font-family: monospace;
}
#form_registro select{
    background: none;
    color: white;

}
#form_registro select option{
    color: black;
}

.error{
    color: rgba(231, 216, 0, 0.897);
}