#carouselExampleAutoplaying {
    width: 25%;
    margin: 0 auto;
    padding: 20px;

}

#su{
    width: 40%;
    margin: 0 auto;
    padding: 10px;

}
#su img{
  width: 100%;
  margin: 0 auto;

}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

#background{
  background-color: #202020;
}

#barrapag {
  display: flex;
  justify-content: center;
}

.card-body{
    background-color: #a52a2a;
}



